streamlit
numpy<2.0.0
pymupdf
spacy==3.7.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
sentence-transformers
faiss-cpu
python-dotenv
plotly
google-generativeai
pymongo
